# Local development (default values)
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Production (AWS) - Actualiza estos valores
# DEBUG=False
# ALLOWED_HOSTS=tu-dominio.com,www.tu-dominio.com,tu-ip-elastica-aws.compute.amazonaws.com
