{% extends 'planner/base.html' %}

{% block content %}

<h2>{{ recipe.name }}</h2>

{% if recipe.image %}
    <img src="{{ recipe.image.url }}" width="300" style="margin-bottom:20px;">
{% endif %}

<p><strong>Description:</strong></p>
<p>{{ recipe.description }}</p>

<p><strong>Ingredients:</strong></p>
<p>{{ recipe.ingredients|linebreaks }}</p>

<p><strong>Preparation Steps:</strong></p>
<p>{{ recipe.instructions|linebreaks }}</p>

<br>
<a href="{% url 'home' %}">← Back to Home</a>

{% endblock %}